.header {
    text-align: center;
    background: #d63f47;
    color: white;
    font-size: 30px;
    width: 40%;
    float: left;
    height: 240px;
    margin-top: 30px;
    margin-left: 15%;
  }
  .header2 {
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    width: 30%;
    float: left;
    height: 120px;
    margin: auto;
    margin-top: 30px;
    margin-right: 15%;
  }
  .header3 {
    text-align: center;
    background: #301b85;
    color: white;
    font-size: 30px;
    width: 30%;
    float: left;
    height: 120px;
    margin: auto;
    margin-right: 15%;
  }